<ion-view title="Adicionar Doença" id="doencasAdicionar">

    <ion-content padding="true" class="has-header">
         
        <form name="formDoenca" class="list" novalidate>
            <ion-list>
                <label class="item item-input" ng-class="{ 'has-error' : formDoenca.nome.$invalid}">
                    <span class="input-label">Nome</span>
                    <input type="text"
                     name="nome"
                     ng-model="doenca.nome" 
                     ng-minlength="5" 
                     required>
                </label>
                <div ng-messages="formDoenca.nome.$error" 
                ng-messages-include="templates/form-errors.html" 
                class="form-errors">
                <div class="form-error" ng-message="minlength">Campo deve ser maior que 4 caracteres.</div>
                </div>

                <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <span class="input-label" name="data" aria-required="true">Diagnosticada em {{doenca.diagnosticadaEm}}</span>
                </label>
                <a class="button button-icon icon ion-calendar" ng-click="openDatePicker()"></a>
                </div>


                <label class="item item-input" ng-class="{ 'has-error' : formDoenca.sintomas.$invalid}">
                    <span class="input-label">Sintomas</span>
                    <textarea  rows="6" cols="10"	
                     name="sintomas"
                     ng-model="doenca.sintomas"
                     required>
                     </textarea>
                </label>
                <div ng-messages="formDoenca.sintomas.$error" 
                ng-messages-include="templates/form-errors.html" 
                class="form-errors">
                </div>

                <label class="item item-input item-select">
                    <div class="input-label">
                    Estágio da Doença
                    </div>
                <select ng-model="doenca.estagio" ng-options="estagio.nome for estagio in estagiosDoenca track by estagio.nome"></select>
                </label>
                
                <label class="item item-input" ng-class="{ 'has-error' : formDoenca.medicacoes.$invalid}">
                    <span class="input-label">Medicações Relacionadas</span>
                    <textarea  rows="6" cols="10"	
                     name="medicacoes"
                     ng-model="doenca.medicacoes"
                     required>
                     </textarea>
                </label>
                <div ng-messages="formDoenca.medicacoes.$error" 
                ng-messages-include="templates/form-errors.html" 
                class="form-errors">
                </div>

            </ion-list>
            <div class="padding">
                <a class="button button-balanced  button-full icon-left ion-archive" ng-disabled="formDoenca.$invalid" ng-click="gravar()">Gravar</a>
                <a class="button button-balanced  button-full button-clear" ng-click="limpar()">Voltar</a>
            </div>
        </form>

    </ion-content>
</ion-view>