<ion-view title="Lista de Eventos" id="eventosLista" ng-controller="eventosListaCtrl">
    
    <ion-content padding="true" class="has-header">
        
        <ion-list>
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" ng-model="criterioDeBusca" placeholder="Pesquisar">
            </label>         
            <ion-item class="item item-icon-left item-icon-right" ng-repeat="evento in eventosLista | filter : {nome:criterioDeBusca} track by evento.id">
            <a class="icon ion-android-alarm-clock"></a>  
            {{evento.data}} {{evento.hora}} - {{evento.nome}}
            <a class="icon ion-chevron-left"></a>       
            <ion-option-button class="button-energized icon-left ion-edit" ng-click="editar(evento.id)" ng-hide="isPaciente"> Editar</ion-option-button>
            <ion-option-button class="button-positive icon-left ion-eye" ng-click="editar(evento.id)" ng-hide="!isPaciente"> Visualizar</ion-option-button>             
            <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="remover(evento.id)" ng-hide="isPaciente"> Remover</ion-option-button>
            </ion-item>
        </ion-list>            
    </ion-content>

    <div class="bar bar-footer bar-stable" ng-hide="isPaciente">
        <div class="row">
            <a ng-click="adicionar()" class="col button button-balanced ion-android-add"> Adicionar Evento</a>     
        </div>
    </div>
</ion-view>