<ion-view title="All Remember" id="menuHome" ng-controller="homeCtrl">>
    <ion-content padding="true" class="has-header">

        <div class="list card">

            <div class="item">Bom dia {{nome}}!</div>
            <div class="item">Hoje é dia {{dia}} do {{mes}} de {{ano}}.</div>
            <div class="item">Agora está de {{periodo}} e são {{horas}}.</div>
            <!--<div class="item">Seu proximo evento é:
            <div class="item">{{evento}}</div>   
            </div>-->

    </ion-content>
</ion-view>