<ion-view title="Editar Lembrança" id="lembrancasEditar">

    <ion-content padding="true" class="has-header">
         
        <form name="formLembranca" class="list" novalidate>
            <ion-list>
                <label class="item item-input" ng-class="{ 'has-error' : formLembranca.lembranca.$invalid}">
                    <span class="input-label">Nome da Lembrança</span>
                    <input type="text"
                     name="lembranca"
                     ng-model="lembranca.lembranca" 
                     ng-minlength="5" 
                     ng-readonly="isPaciente"
                     required>
                </label>
                <div ng-messages="formLembranca.nome.$error" 
                ng-messages-include="templates/form-errors.html" 
                class="form-errors">
                <div class="form-error" ng-message="minlength">Campo deve ser maior que 4 caracteres.</div>
                </div>

                <label class="item item-input" ng-class="{ 'has-error' : formLembranca.descricao.$invalid}">
                    <span class="input-label">Descrição</span>
                    <textarea  rows="6" cols="10"	
                     name="descricao"
                     ng-model="lembranca.descricao"
                     ng-readonly="isPaciente"
                     required>
                     </textarea>
                </label>
                <div ng-messages="formLembranca.descricao.$error" 
                ng-messages-include="templates/form-errors.html" 
                class="form-errors">
                </div>
            </ion-list>
            <div class="padding">
                <a class="button button-balanced  button-full icon-left ion-archive" 
                ng-disabled="formLembranca.$invalid" 
                ng-click="gravar()"
                ng-hide="isPaciente">Gravar</a>
                <a class="button button-balanced  button-full button-clear" ng-click="limpar()">Voltar</a>
            </div>
        </form>

    </ion-content>
</ion-view>