<ion-view title="Diário" id="lembrancasLista" ng-controller="lembrancasListaCtrl">
    
    <ion-content padding="true" class="has-header">
        
        <ion-list>
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" ng-model="criterioDeBusca" placeholder="Pesquisar">
            </label>         
            <ion-item class="item-icon-right" ng-repeat="lembranca in lembrancasLista | filter : {lembranca:criterioDeBusca} track by lembranca.id">
                    {{lembranca.lembranca}}
            <a class="icon ion-chevron-left"></a>       
            <ion-option-button class="button-energized icon-left ion-edit" ng-click="editar(lembranca.id)"> Editar</ion-option-button>      
            <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="remover(lembranca.id)"> Remover</ion-option-button>
            </ion-item>
        </ion-list>            
    </ion-content>

    <div class="bar bar-footer bar-stable">
        <div class="row">
            <a ng-click="adicionar()" class="col button button-balanced ion-android-add"> Adicionar Lembrança</a>     
        </div>
    </div>
</ion-view>