<ion-view title="Lista de Medicos" id="medicosLista" ng-controller="medicosListaCtrl">

    <ion-content padding="true" class="has-header">

        <ion-list>
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" ng-model="criterioDeBusca" placeholder="Pesquisar">
            </label>
            <ion-item class="item item-avatar" ng-repeat="medico in medicosLista | filter : {nome:criterioDeBusca}">
                <img ng-src="{{medico.fotoURI}}">
                <h2>{{medico.nome}}</h2>
                <p>{{medico.especialidade}}</p>
                <ion-option-button class="button-energized icon-left ion-edit" ng-click="editar(medico.id)" ng-hide="isPaciente"> Editar</ion-option-button>
                <ion-option-button class="button-positive icon-left ion-eye" ng-click="editar(medico.id)" ng-hide="!isPaciente"> Visualizar</ion-option-button>
                <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="remover(medico.id)" ng-hide="isPaciente"> Remover</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

    <div class="bar bar-footer bar-stable" ng-hide="isPaciente">
        <div class="row">
            <a ng-click="adicionar()" class="col button button-balanced ion-android-add"> Adicionar Medico</a>
        </div>
    </div>
</ion-view>